img {
padding-right: 14px;
padding-left: 14px;
}

.navbar {
  overflow: hidden;
  background-color: black;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  font-weight: bolder;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #008080;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #008080;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.topnav-right {
  float: right;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.fa {
    color: #008080;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
 
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #2f2f2f;
    font-family: "Montserrat ", sans-serif;
    color: rgb(255, 255, 255);
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }

  h2 {
    font-family: "Montserrat ", sans-serif;
    text-align: center;
}

  h3 {
    font-family: "Montserrat ", sans-serif;
    font-size: 10px;
  }

  p {
    text-align: center;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: #000000;
    padding: 10px;
  }

  video {
    display: block;
    margin: 0 auto;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


  #sticky-footer {
    text-align: center;
    background-color: black;
    color: white;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    padding: 5px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    margin-top: auto;
  }

