
body {
    background: #2f2f2f;
    font-family: "Montserrat ", sans-serif;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

img {
padding-right: 14px;
padding-left: 14px;
}

.navbar {
  overflow: hidden;
  background-color: black;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  font-weight: bolder;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #008080;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #008080;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.topnav-right {
  float: right;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.fa {
    color: #008080;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

h2 {
    font-family: "Montserrat ", sans-serif;
}

h3 {
    font-family: "Montserrat ", sans-serif;
    font-size: 10px;
}

h5 {
    font-family: "Montserrat ", sans-serif;
}

h6 {
    font-family: "Montserrat ", sans-serif;
}


#sticky-footer {
  text-align: center;
  background-color: black;
  color: white;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  padding: 5px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  left: 0;
  margin-top: auto;
}
 




